
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sæde fejl</title>
</head>
<body style="background-color:dimgrey">
    <div>
        @Html.Label("Du mangler at markere et eller flere sæder, prøv igen")
    </div>

    <p>
        @Html.ActionLink("Tilbage", "SeatBooking", "Reservation")
    </p>
</body>
</html>
