@model Biograf_Booking_Web.Models.Movie
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Tidsbestilling</title>
</head>
    <body style="background-color:dimgrey">
        <h1 style="font-family:Cambria;">Bestil ledige tider</h1>

        <style>
            .info {
                position: absolute;
                top: 140px;
                right: 1180px;
                width: 300px;
            }

            .time {
                position: absolute;
                top: 260px;
                right: 1180px;
                width: 300px;
            }
        </style>

        <nav>
            <a style="font-family:Cambria; font-size: 30px; color: black;" href="ShowMovies"> Tilbage </a>
        </nav>

        <div class="container">
            <div class="img">
                <img src=@Html.DisplayFor(model => model.ImagePath) alt=@Html.DisplayFor(model => model.Title) class="image">

            </div>
        </div>
        <div class="info">
                    <nav>
                    <a style="font-family:Cambria; background-color: #4CAF50; font-size: 30px; color: black;" href="https://www.imdb.com/title/tt7286456/"> Film information </a>
                    </nav>
                    <br /><br />
                    <h2>Vælg din tid:</h2>
                </div>
        <div class="time">
                     <nav>
                            <a style="font-family:Cambria; background-color: white; font-size: 30px; color: black;" href="SeatBooking"> Kl: 16:00 </a>
                    </nav>
                     <nav>
                             <a style="font-family:Cambria; background-color: white; font-size: 30px; color: black;" href="SeatBooking"> Kl: 18:00 </a>
                     </nav>
                     <nav>
                             <a style="font-family:Cambria; background-color: white; font-size: 30px; color: black;" href="SeatBooking"> Kl: 20:30 </a>
                     </nav>
                </div>
        
    </body>
</html>