<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.BannedApiAnalyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.PublicApiAnalyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net472" />
  <package id="Roslyn.Diagnostics.Analyzers" version="2.9.8" targetFramework="net472" developmentDependency="true" />
</packages>